Repository OpenZeppelin/openzeppelin-polkadot-zk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, toml-sort-check, cargo-check

cargo-fmt:
  name: cargo fmt
  description: Check Rust code formatting
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

toml-sort-check:
  name: toml-sort check
  description: Check Cargo.toml files are sorted
  entry: ./scripts/toml-sort.sh --check
  language: script
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check for Rust compilation errors
  entry: cargo check --all-targets
  language: system
  pass_filenames: false

fixes
  book/src/acl-operators.md
  book/src/client.md
  book/src/crypto.md
  book/src/quickstart.md
  book/src/runtime-integration.md
  book/src/testing.md
  book/src/xcm-setup.md
  pallets/zkhe/src/tests.rs
  xcm/src/vector_tests.rs
  zkhe/PLAN.md
  zkhe/verifier/src/lib.rs
Due: cargo-fmt, cargo-check

update fuzzer even though unused locally thanks coderabbit
  Cargo.toml
Due: toml-sort-check

apply some suggestions pushback against others
  benchmarks/src/verification.rs
  scripts/setup-hooks.sh
Due: cargo-fmt, cargo-check

polkavm precompile
  Cargo.lock
  Cargo.toml
  precompiles/confidential-assets-revive/Cargo.toml
  precompiles/confidential-assets-revive/src/lib.rs
  precompiles/confidential-assets-revive/src/tests.rs
  pvm-runtime/Cargo.toml
  pvm-runtime/build.rs
  pvm-runtime/src/apis.rs
  pvm-runtime/src/benchmarks.rs
  pvm-runtime/src/configs/confidential.rs
  pvm-runtime/src/configs/mod.rs
  pvm-runtime/src/configs/xcm_config.rs
  pvm-runtime/src/genesis_config_presets.rs
  pvm-runtime/src/lib.rs
  pvm-runtime/src/weights/block_weights.rs
  pvm-runtime/src/weights/extrinsic_weights.rs
  pvm-runtime/src/weights/mod.rs
  pvm-runtime/src/weights/paritydb_weights.rs
  pvm-runtime/src/weights/rocksdb_weights.rs
  scripts/check-toml-sorted.sh
  scripts/generate-runtime-spec.sh
  scripts/pre-commit
  scripts/setup-hooks.sh
  zkhe-verifier/benches/verify.rs
Due: cargo-fmt, toml-sort-check, cargo-check

Upgrade to 2506 (#14)
  Cargo.lock
  Cargo.toml
  runtime/src/configs/mod.rs
  xcm/src/tests.rs
Due: cargo-fmt, toml-sort-check, cargo-check

into main keep macos mappings same for self because they work for local setup
  precompiles/confidential-assets-revive/Cargo.toml
  precompiles/confidential-assets-revive/src/lib.rs
  pvm-runtime/src/configs/mod.rs
  scripts/pre-commit
Due: cargo-fmt, toml-sort-check, cargo-check

fmt
  precompiles/confidential-assets-revive/src/lib.rs
Due: cargo-fmt, cargo-check

fix(precompile): add missing imports and fix selector tests
  precompiles/confidential-assets-revive/src/tests.rs
Due: cargo-fmt, cargo-check

into main
  Cargo.lock
  Cargo.toml
  precompiles/confidential-assets-evm/Cargo.toml
  precompiles/confidential-assets-evm/src/lib.rs
  runtimes/evm-rollup/Cargo.toml
  runtimes/evm-rollup/src/configs/evm.rs
  runtimes/evm-rollup/src/configs/mod.rs
Due: cargo-fmt, toml-sort-check, cargo-check

toml sort
  Cargo.toml
Due: toml-sort-check

Add pre-commit hook matching CI checks
  scripts/check-toml-sorted.sh
  scripts/generate-runtime-spec.sh
  scripts/pre-commit
Due: none

fix
  .githooks/pre-commit
  benchmarks/Cargo.toml
  benchmarks/benches/block_filling.rs
  benchmarks/benches/verification.rs
  benchmarks/src/verification.rs
  integration-tests/Cargo.toml
  scripts/check-toml-sorted.sh
  scripts/pre-commit
  scripts/setup-hooks.sh
  zkhe/verifier/benches/verify.rs
Due: cargo-fmt, toml-sort-check, cargo-check

fix
  Cargo.lock
  precompiles/confidential-assets-evm/Cargo.toml
  precompiles/confidential-assets-evm/src/mock.rs
  scripts/pre-commit
  zkhe/verifier/benches/verify.rs
Due: cargo-fmt, toml-sort-check, cargo-check

Delete BRAINSTORM.md
  BRAINSTORM.md
Due: none

rm precommit hooks from being committed to repo
  .githooks/pre-commit
  .gitignore
  scripts/pre-commit
Due: none

Update benchmarks/src/verification.rs
  benchmarks/src/verification.rs
Due: cargo-fmt, cargo-check

fixes
  .gitignore
  Cargo.toml
  README.md
  book/src/SUMMARY.md
  book/src/polkavm-precompile.md
  runtimes/polkavm/Cargo.toml
  runtimes/polkavm/build.rs
  runtimes/polkavm/src/apis.rs
  runtimes/polkavm/src/benchmarks.rs
  runtimes/polkavm/src/configs/confidential.rs
  runtimes/polkavm/src/configs/mod.rs
  runtimes/polkavm/src/configs/xcm_config.rs
  runtimes/polkavm/src/genesis_config_presets.rs
  runtimes/polkavm/src/lib.rs
  runtimes/polkavm/src/weights/block_weights.rs
  runtimes/polkavm/src/weights/extrinsic_weights.rs
  runtimes/polkavm/src/weights/mod.rs
  runtimes/polkavm/src/weights/paritydb_weights.rs
  runtimes/polkavm/src/weights/rocksdb_weights.rs
  scripts/pre-commit
  scripts/setup-hooks.sh
  zkhe/verifier/benches/verify.rs
Due: cargo-fmt, toml-sort-check, cargo-check

fix coderabbit mistake thanks champ
  benchmarks/src/verification.rs
Due: cargo-fmt, cargo-check

clean
  .gitignore
  .pre-commit-config.yaml
  Cargo.toml
  runtimes/evm/Cargo.toml
  runtimes/evm/build.rs
  runtimes/evm/src/configs/evm.rs
  runtimes/evm/src/configs/mod.rs
  runtimes/evm/src/lib.rs
  runtimes/evm/src/precompiles.rs
  scripts/pre-commit
Due: cargo-fmt, toml-sort-check, cargo-check

accept suggestions
  runtimes/evm/src/configs/mod.rs
  runtimes/evm/src/precompiles.rs
Due: cargo-fmt, cargo-check

E2E TPS Benchmarks, Integration Tests, and Update Docs (#15)
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  benchmarks/Cargo.toml
  benchmarks/benches/block_filling.rs
  benchmarks/benches/verification.rs
  benchmarks/src/block_sim.rs
  benchmarks/src/lib.rs
  benchmarks/src/main.rs
  benchmarks/src/tps.rs
  benchmarks/src/verification.rs
  integration-tests/Cargo.toml
  integration-tests/src/helpers.rs
  integration-tests/src/lib.rs
  integration-tests/src/network.rs
  integration-tests/tests/confidential_transfer.rs
  integration-tests/tests/cross_chain_transfer.rs
  scripts/check-toml-sorted.sh
  scripts/setup-hooks.sh
  zkhe/verifier/benches/verify.rs
Due: cargo-fmt, toml-sort-check, cargo-check

into main
  Cargo.lock
Due: none

ci
  runtimes/evm/src/configs/mod.rs
Due: cargo-fmt, cargo-check

Refactor decryption formula in crypto.md
  book/src/crypto.md
Due: none

Update book/src/polkavm-precompile.md
  book/src/polkavm-precompile.md
Due: none

Polkavm Precompile (#16)
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  book/src/SUMMARY.md
  book/src/polkavm-precompile.md
  precompiles/confidential-assets-revive/Cargo.toml
  precompiles/confidential-assets-revive/src/lib.rs
  precompiles/confidential-assets-revive/src/tests.rs
  runtimes/polkavm/Cargo.toml
  runtimes/polkavm/build.rs
  runtimes/polkavm/src/apis.rs
  runtimes/polkavm/src/benchmarks.rs
  runtimes/polkavm/src/configs/confidential.rs
  runtimes/polkavm/src/configs/mod.rs
  runtimes/polkavm/src/configs/xcm_config.rs
  runtimes/polkavm/src/genesis_config_presets.rs
  runtimes/polkavm/src/lib.rs
  runtimes/polkavm/src/weights/block_weights.rs
  runtimes/polkavm/src/weights/extrinsic_weights.rs
  runtimes/polkavm/src/weights/mod.rs
  runtimes/polkavm/src/weights/paritydb_weights.rs
  runtimes/polkavm/src/weights/rocksdb_weights.rs
  scripts/generate-runtime-spec.sh
  scripts/setup-hooks.sh
Due: cargo-fmt, toml-sort-check, cargo-check

fix
  runtimes/evm/src/configs/mod.rs
Due: cargo-fmt, cargo-check

rm precommit section from readme and follow sui repo conventions for other parts of repo
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

Frontier precompile (#11)
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  SECURITY.md
  contracts/ERC7984ConfidentialToken.sol
  contracts/interfaces/IConfidentialAssets.sol
  contracts/interfaces/IERC7984.sol
  precompiles/confidential-assets-evm/Cargo.toml
  precompiles/confidential-assets-evm/src/lib.rs
  precompiles/confidential-assets-evm/src/mock.rs
  precompiles/confidential-assets-evm/src/tests.rs
  runtimes/evm/Cargo.toml
  runtimes/evm/build.rs
  runtimes/evm/src/configs/evm.rs
  runtimes/evm/src/configs/mod.rs
  runtimes/evm/src/lib.rs
  runtimes/evm/src/precompiles.rs
Due: cargo-fmt, toml-sort-check, cargo-check

fixes
  README.md
  book/src/SUMMARY.md
  book/src/architecture.md
  book/src/client.md
  book/src/configuration.md
  book/src/crypto.md
  book/src/custom-backends.md
  book/src/custom-ramps.md
  book/src/introduction.md
  book/src/testing.md
Due: none

accept coderabbitai suggestion
  README.md
Due: none

fix formatting
  book/src/architecture.md
  book/src/asset-hub.md
Due: none

Clean/fix docs (#18)
  README.md
  book/src/SUMMARY.md
  book/src/architecture.md
  book/src/asset-hub.md
  book/src/client.md
  book/src/configuration.md
  book/src/crypto.md
  book/src/custom-backends.md
  book/src/custom-ramps.md
  book/src/introduction.md
  book/src/testing.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  toml-sort-check: any of: Cargo\.toml$
  cargo-check: any of: \.rs$
